html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;

}

img{
    width: 100%;
}

section{
    padding: 100px 0;
    background:#222831 ;
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all,.5s ease-in-out;
}

.section_title h2:hover{
    background: #24CAAC;
}

/* ------------------HEADER------------------ */

header{
    background:rgb(44, 37, 37);
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav_links li a:hover{
    background: #24CAAC;
}

.logo h2 a{
    color: #fff;
    text-transform: uppercase;
}

/* ------------------ANASAYFA------------------ */

.inner_anasayfa{
    display: flex;
    height: 600px;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}

.child_anasayfa{
    flex-basis:45%;
}

.child_anasayfa h1{
    font-size: 50px;
    color: #24CAAC;
    margin-left: 100px;
    
}

.span_child{
    color:chartreuse;
}


/* .btn{
    background: #24CAAC;
    padding: 12px 25px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #24CAAC;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 100px;
} */


.btn:hover{
    background: transparent;   
    letter-spacing: 2px;

}

/*------------ HAKKIMDA----------- */

.inner_about{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
}

.inner_about_child{
    flex-basis: 31%;
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .5s ease;
}


.inner_about_child:hover {
    border: 1px solid #24CAAC;
}
    
.c_p{
    color: #24CAAC;
}

.inner_s_child .icon{
    font-size: 100px;
    color: #fff;

    
    
}

.inner_s_child {
    font-size: 100px;
    color: #fff;
    justify-content: center;
    text-align: center;
    display: flex;
    
}

.inner_s_child i{
    padding: 10px 10px;
    margin: 10px 10px;
    border: 1px solid transparent;
    transition: all .5s ease;
}


.inner_s_child i:hover{
    color:#24CAAC;
}

.inner_contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.inner_contact_child{
    flex-basis: 45%;
}

.inner_contact_child form{
    padding: 50px 40px;
    background: #2F363E;
    border-radius: 5px;
}

.inner_contact_child form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292D;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
    
}

.inner_contact_child form input,textarea:focus {

    color: #fff;
}

.inner_contact_child form input:focus{
    letter-spacing: 1px;
}

.inner_contact_child form textarea:focus{
    letter-spacing: 1px;
}

.inner_contact_child form input:last-child{
    margin-bottom: 0;
    background: #24CAAC;
    border: 1px solid #24CAAC;
    transition: .3s;
}

.inner_contact_child form input:last-child:hover{
    background: transparent;
    color:#fff;
    cursor: pointer;
}

.footer{
    background-color: #24292D;
    
}

.icon-container{
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icon-container i{
    padding: 15px 15px;
    margin: 25px 25px;
}
